/* src/viks.css */

[data-viks] {
  opacity: 0;
  transition-duration: var(--viks-duration);
  transition-timing-function: var(--viks-easing);
  transition-delay: var(--viks-delay);
}

/* Fade animations */
[data-viks="fade"].viks-animate { opacity: 1; }
[data-viks="fade-up"] { transform: translate3d(0, 100px, 0); }
[data-viks="fade-up"].viks-animate { transform: translate3d(0, 0, 0); opacity: 1; }
[data-viks="fade-down"] { transform: translate3d(0, -100px, 0); }
[data-viks="fade-down"].viks-animate { transform: translate3d(0, 0, 0); opacity: 1; }
[data-viks="fade-left"] { transform: translate3d(-100px, 0, 0); }
[data-viks="fade-left"].viks-animate { transform: translate3d(0, 0, 0); opacity: 1; }
[data-viks="fade-right"] { transform: translate3d(100px, 0, 0); }
[data-viks="fade-right"].viks-animate { transform: translate3d(0, 0, 0); opacity: 1; }

/* Flip animations */
[data-viks="flip-up"] { transform: perspective(2500px) rotateX(-100deg); }
[data-viks="flip-up"].viks-animate { transform: perspective(2500px) rotateX(0); opacity: 1; }
[data-viks="flip-down"] { transform: perspective(2500px) rotateX(100deg); }
[data-viks="flip-down"].viks-animate { transform: perspective(2500px) rotateX(0); opacity: 1; }

/* Slide animations */
[data-viks="slide-up"] { transform: translate3d(0, 100%, 0); }
[data-viks="slide-up"].viks-animate { transform: translate3d(0, 0, 0); opacity: 1; }
[data-viks="slide-down"] { transform: translate3d(0, -100%, 0); }
[data-viks="slide-down"].viks-animate { transform: translate3d(0, 0, 0); opacity: 1; }

/* Zoom animations */
[data-viks="zoom-in"] { transform: scale(.6); }
[data-viks="zoom-in"].viks-animate { transform: scale(1); opacity: 1; }
[data-viks="zoom-out"] { transform: scale(1.2); }
[data-viks="zoom-out"].viks-animate { transform: scale(1); opacity: 1; }

/* Easing functions */
.ease { transition-timing-function: ease; }
.ease-in { transition-timing-function: ease-in; }
.ease-out { transition-timing-function: ease-out; }
.ease-in-out { transition-timing-function: ease-in-out; }
.ease-in-back { transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); }
.ease-out-back { transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
